<?xml version="1.0"?>
<appSettings>
  <add key="issuer" value="http://reporter.local/" />
  <!-- SHA-256 hash Base64 encoded-->
  <add key="secret" value="NiIZGOB4xuFeYDCZTrJTQPCHTohM/ato7/Nda3n9ziY=" />

  <add key="as:AudienceId" value="414e1927a3884f68abc79f7283837fd1" />
  <add key="as:AudienceSecret" value="qMCdFDQuF23RV1Y-1Gq9L3cF3VmuFwVbam4fMTdAfpo" />
</appSettings>